prometheus-3.5.0.linux-amd64/prometheus filter=lfs diff=lfs merge=lfs -text
prometheus-3.5.0.linux-amd64/promtool filter=lfs diff=lfs merge=lfs -text
grafana-12.1.1/bin/grafana filter=lfs diff=lfs merge=lfs -text
